body,
html {
  width: 100%;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #414852;
}

.box {
  margin: 2rem;
  width: 240px;
  height: 320px;
  background-color: #414852;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 4px 4px 15px #363c42, -4px -4px 15px #363c42;
}

.box .product {
  width: 100%;
  height: 40%;
}

.box .product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box h4 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 0;
}

.box h3 {
  color: #0ef9f8;
  font-weight: 900;
  text-align: center;
  font-size: 1.2rem;
  line-height: 0;
}

.box p {
  text-align: center;
  color: white;
  font-weight: 200;
}
