* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

main nav {
  width: 100%;
  height: 40px;
  background-color: wheat;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
}

nav .navL {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

nav .navC {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

nav .navR {
  display: flex;
  align-items: center;
}
