@font-face {
  font-family: "Publica";
  src: url("./Fonts/ZPublicaSans.otf");
}

@font-face {
  font-family: "Impact";
  src: url("./Fonts/impact.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

main nav {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

nav .navL {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.navL .logo {
  font-size: 1.2rem;
  color: teal;
  font-family: "Publica";
}

.navL .name {
  font-size: 0.8rem;
  font-weight: 700;
}

nav .navC {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.navC > p {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 500;
  color: #777;
  cursor: pointer;
}

nav .navR {
  display: flex;
  align-items: center;
}

.navR > p {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
}

main section {
  position: relative;
  z-index: 1;
  width: 100%;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section .part1 {
  height: 35%;
  display: flex;
  align-items: flex-end;
  padding-left: 1rem;
}

.part1 h1 {
  font-size: 6rem;
  text-transform: uppercase;
  line-height: 0.8;
  font-weight: 900;
  z-index: 1;
}

.part1 .profile1 {
  position: absolute;
  top: 16%;
  left: 34%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 0;
}

.part1 .profile1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .part2 {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: flex-start;
  padding-left: 1rem;
  letter-spacing: -6px;
  position: relative;
}

.part2 h1 {
  z-index: 1;
  font-size: 9rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 0.6;
}

.part2 .tp {
  z-index: 3;
  color: transparent;
  position: absolute;
  top: 0;
  left: 34.9%;
  width: 100%;
  height: 100%;
}

h1 .mainText {
  background: linear-gradient(to right, #34d0ab 35%, #28abd1 85%, #2497e7 100%);
  background-clip: text;
  color: transparent;
  z-index: -1;
}

section .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  z-index: 1;
}

section .part3 {
  z-index: 1;
  height: 35%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.part3 .left {
  padding-left: 1rem;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.part3 .left .intro {
  font-size: 0.65rem;
  color: #777;
}

.part3 .left button {
  width: 150px;
  padding: 0.4rem 0.8rem;
  border: none;
  color: white;
  background: linear-gradient(to right, #34d0ab 35%, #28abd1 85%, #2497e7 100%);
  border-radius: 4px;
  font-weight: 600;
}

.part3 .left button i {
  font-size: 0.7rem;
  padding: 0.1rem;
  background-color: white;
  border-radius: 50%;
  color: #2497e7;
}

.part3 .right {
  width: 75%;
  /* background-color: red; */
  display: flex;
  justify-content: flex-end;
}

.part3 .right h1 {
  padding-right: 5.2rem;
  font-size: 6rem;
  line-height: 0.5;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -15px;
}
