@font-face {
  font-family: Primary;
  src: url(./Assets/Fonts/7YY3ZAAE3TRV2LANYOLXNHTPHLXVWTKH.woff2);
}
@font-face {
  font-family: Secondry;
  src: url(./Assets/Fonts/TW4KNQIPR4LNP4I6I6C6HKQ23B2EQAU5.woff2);
}
@font-face {
  font-family: Paragraph;
  src: url(./Assets/Fonts/XC3ORZWTJXPLYORAWMH6ZXES6GBV3W5L.woff2);
}
@font-face {
  font-family: Heading;
  src: url(./Assets/Fonts/yDtI2UI8XcEg1W2je9XPN3Noo.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

main {
  width: 100vw;
  height: 100vh;
}

nav {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
nav .part1 {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-right: 1px solid black;
}
nav .part1 a {
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  color: black;
  font-family: Secondry;
  font-size: 1.1rem;
}
nav .part2 {
  display: none;
}
nav .part3 {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .part3 .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  height: 100%;
  border-right: 1px solid black;
}
nav .part3 .nav-link a {
  text-decoration: none;
  font-family: Secondry;
}
nav .part3 .nav-link a i {
  opacity: 0.6;
}
nav .part3 .menu {
  border: none;
}

@media (min-width: 1024px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
  }
  nav .part1 {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav .part1 a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav .part2 {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav .part2 .nav-link {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-right: 1px solid black;
  }
  nav .part2 .nav-link a {
    text-decoration: none;
    font-family: Secondry;
  }
  nav .part3 {
    width: 15%;
  }
  nav .part3 .nav-link {
    flex-grow: 1;
  }
  nav .part3 .nav-link a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav .part3 .menu {
    display: none;
  }
}