@font-face {
    font-family: Primary;
    src: url(./Assets/Fonts/7YY3ZAAE3TRV2LANYOLXNHTPHLXVWTKH.woff2);
}

@font-face {
    font-family: Secondry;
    src: url(./Assets/Fonts/TW4KNQIPR4LNP4I6I6C6HKQ23B2EQAU5.woff2);
}

@font-face {
    font-family: Paragraph;
    src: url(./Assets/Fonts/XC3ORZWTJXPLYORAWMH6ZXES6GBV3W5L.woff2);
}

@font-face {
    font-family: Heading;
    src: url(./Assets/Fonts/yDtI2UI8XcEg1W2je9XPN3Noo.woff2);
}
