* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: black;
}

main {
  padding: 1rem;
  width: 100%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1705112581086-51edd3b092a0?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: 0 45%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main nav {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
main nav .navLeft ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
}
main nav .navRight {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  color: white;
}

.hero {
  width: 100%;
  min-height: calc(100% - 40px);
  display: flex;
  padding-bottom: 1rem;
}
.hero .heroLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero .heroLeft .heroLeftTop {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding-top: 2rem;
}
.hero .heroLeft .heroLeftTop h1 {
  font-size: 7rem;
  width: 50%;
  line-height: 0.8;
  color: white;
  font-weight: 700;
  letter-spacing: -0.2rem;
}
.hero .heroLeft .heroLeftTop p {
  font-size: 1.3;
  width: 30%;
  font-weight: 400;
  text-transform: uppercase;
  color: #dfe99c;
  padding-left: 0.5rem;
}
.hero .heroLeft .heroLeftBottom {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.hero .heroLeft .heroLeftBottom h5 {
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
}
.hero .heroLeft .heroLeftBottom i {
  padding-right: 0.4rem;
}
.hero .heroLeft .heroLeftBottom .project {
  width: 65%;
  color: white;
  font-size: 0.9rem;
}
.hero .heroRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.hero .heroRight .heroRightTop {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hero .heroRight .heroRightTop h1 {
  font-size: 8rem;
  color: white;
  font-weight: 500;
  line-height: 1.1;
}
.hero .heroRight .heroRightTop p {
  color: #dfe99c;
  text-align: right;
  line-height: 1.1;
  font-weight: 400;
  padding-right: 0.6rem;
}
.hero .heroRight .heroRightBottom {
  width: 58%;
  height: 30%;
  border-radius: 15px;
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.hero .heroRight .heroRightBottom .date {
  background-color: black;
  color: #dfe99c;
  width: 22%;
  padding: 0.4rem 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.hero .heroRight .heroRightBottom .event {
  padding-left: 0.2rem;
  font-weight: 500;
}
.hero .heroRight .heroRightBottom .news {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 0.5rem 0.6rem;
  border-radius: 20px;
}
.hero .heroRight .heroRightBottom .news .head {
  text-transform: uppercase;
  font-size: 0.9rem;
}
.hero .heroRight .heroRightBottom .news i {
  border-radius: 50%;
  background-color: yellow;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 0.9rem;
  width: 8%;
  aspect-ratio: 1;
}

.about-Section {
  width: 100%;
  min-height: 100%;
  background-color: black;
  color: white;
  margin-top: 1rem;
}
.about-Section .about-Top {
  height: 30%;
  display: flex;
}
.about-Section .about-Bottom {
  height: 70%;
  background-color: darkkhaki;
}

.about-Top-Left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-Top-Left .about-top-left-top {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.about-Top-Left .about-top-left-top .circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #eafb6b;
}
.about-Top-Left .about-top-left-top .about-head {
  color: #eafb6b;
  text-transform: uppercase;
  font-weight: 500;
}
.about-Top-Left .about-top-left-bottom {
  width: 70%;
  color: white;
  opacity: 0.7;
}

.about-Top-Right {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.about-Top-Right .line1 {
  width: 74%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.about-Top-Right .line1 span {
  color: white;
  opacity: 0.7;
}
.about-Top-Right .about-top-right-head {
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 0.7;
  font-weight: 500;
  letter-spacing: -3px;
}