@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

body {
    @include flex-center();
    background-color: #e5e5e5;
}

main {
    width: 80%;
    height: 95%;
    background-color: white;
    border-radius: 20px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    nav {
        width: 100%;
        height: 50px;
        padding: 0.2rem 0.8rem;
        @include flex-center();
        justify-content: space-between;
        .navpart1 {
            width: 100px;
            img {
                width: 100%;
            }
        }

        .navpart2 {
            width: 25%;
            height: 80%;
            background-color: #e5e5e5;
            border-radius: 10px;
            display: flex;
            gap: 1rem;
            align-items: center;
            padding: 0.3rem;

            i {
                font-size: 1.4rem;
            }
        }

        .navpart3 {
            @include flex-center();
            gap: 1rem;
            .icons {
                @include flex-center();
                gap: 1.5rem;

                p {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
            .pfp {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    width: 100%;
                    aspect-ratio: 1;
                    object-fit: cover;
                }
            }
        }
    }

    .nav2 {
        width: 100%;
        height: 40px;
        padding: 0.6rem 0.8rem;
        display: flex;
        gap: 1rem;

        p {
            text-transform: capitalize;
            font-weight: 500;
        }
        .sale {
            color: rgb(220, 85, 85);
        }
    }
}

.line {
    width: calc(100% - 1.7rem);
    height: 2px;
    background-color: #999;
    opacity: 0.3;
    margin-top: 0.2rem;
}

.breadMenu {
    width: 100%;
    padding: 0.6rem;
    @include flex-center();
    justify-content: flex-start;
    gap: 0.5rem;

    .circle {
        width: 10px;
        height: 10px;
        background-color: #999;
        opacity: 0.3;
        border-radius: 50%;
    }

    a {
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
}

.product-section {
    width: 100%;
    height: calc(95% - 92px);
    display: flex;
    gap: 1rem;

    .product-left {
        width: 60%;
        height: 100%;

        .product-main-image {
            width: 100%;
            height: 70%;
            background-color: gainsboro;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .product-other-image {
            height: 28%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .product {
                width: 120px;
                aspect-ratio: 1;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .black {
                border: 2px solid black;
            }
            .grey {
                @include flex-center();
                border: 2px solid rgba(128, 128, 128, 0.202);
            }
        }
    }

    .product-right {
        width: 40%;
        height: 100%;

        .part1 {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .about-product {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .brand-name {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    .logo {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    h5 {
                        font-size: 1rem;
                    }
                }

                .article {
                    color: rgba(128, 128, 128, 0.585);
                }
            }

            .product-name {
                display: flex;
                flex-direction: column;
                gap: 0.8rem;

                .review {
                    display: flex;
                    align-items: center;

                    i {
                        color: #f0cd6e;
                    }

                    .st-grey {
                        color: #9999998c;
                    }

                    p {
                        padding-left: 1rem;
                    }
                }
            }

            h1 {
                font-size: 2.5rem;
                font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                padding-bottom: 0.8rem;
            }
        }

        .part2 {
            height: 90px;
            display: flex;
            gap: 0.3rem;
            flex-direction: column;
            margin-bottom: 0.7rem;
            p {
                font-size: 0.8rem;
                font-weight: 500;
                span {
                    color: #999;
                }
            }

            .color-images {
                flex-grow: 2;
                display: flex;
                gap: 1rem;
                .color {
                    width: 40px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }

        .part3 {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            p {
                font-size: 0.8rem;
                font-weight: 500;
                span {
                    color: #999;
                }
            }
            .size-box {
                height: 60px;
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;

                .size {
                    width: 58px;
                    height: 35px;
                    border: 1px solid black;
                    padding: 0.8rem 1rem;
                    font-weight: 600;
                    cursor: pointer;
                    @include flex-center();
                    transition: all 0.3s ease-in-out;

                    button {
                        background-color: transparent;
                        border: none;
                        font-size: 1rem;
                    }

                    &:hover {
                        background-color: black;
                        button {
                            color: white;
                        }
                    }
                }
                .active {
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}
